.App {
  text-align: left;
}

.Barclays-logo {
  width: 150px;
}
.App-header {
  color:  rgb(2, 125, 170);
  margin-left: 6.5%;
  margin-right: 6.5%;
  padding: 1%;
  border-bottom: 1px solid rgb(200, 205, 207);
}

.App-title {
  font-size: 1.1em;
  font-weight: lighter
}

.App-intro {
  font-size: large;
}

.button-home{
  margin-top: 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Validation-error-text{
  font-size: 14px;
  color: red;
  }

  .star
  {
    font-size: 1.5em
  }

  .radio-options{
    width: 100%;
  }

  .Button-logout {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    float: right;
    font-size: 1em;
    color:  rgb(4, 88, 119);
  }

  .table-content-class { 
    overflow-x: auto;   
}